/*
  Personal preference
*/
textarea {
  resize: none;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  background-image: url('assets/sand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
}

.category-title {
  color: white;
}

.sidebar .day-container, .sidebar .category-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.task-container {
  width: 100%;
  margin: 15px;
  background-color: #161616;
  border-radius: 10px;
}

.task-cards-category {
  padding: 25px 25px 10px 25px;
}

.task-cards {
  display: flex;
  flex-direction: column;
  padding: 0 25px 10px 10px;
  /* gap: 15px; */
}

.task-card {
  color: white;
  height: 40px;
  padding: 5px 10px 5px;
  margin: 5px 0;
  border-radius: 10px;
  transition: background-color 0.1s; /* just makes it a bit smoother */

  display: flex;
  gap: 10px;
  align-items: center;
}

.task-card:hover {
  background-color: #393939;
}

.task-card input {
  width: 20px;
  height: 20px;
  border-width: thin;
  border-color: #6e6e72;
  border-style: solid;
  border-radius: 10px;
}

.task-card input:hover {
  border-color: lightblue;
}

.task-card input:checked {
  background-color: lightblue;
}

.task-card .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 0 0;
}

.task-dialog {
  background-color: #161616;
  padding: 0;
  margin: auto;
  width: 25%;
  min-width: 300px;
  height: 50%;
  border: none;
  border-radius: 10px;
}

dialog::backdrop {
  /* opacity: 0; */
  /* backdrop-filter: blur(1px); */
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-div {
  padding: 16px;
  height: 100%;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dialog-title {
  font-size: x-large;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-container {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 270px;
  /* height: 100vh; */
  /* padding: 20px; */
  padding-top: 20px;
}

.day-container > *, .category-container > *,  .sidebar-collapse {
  padding: 0 20px;
}

/* stick to bottom of div */
.new-task-form {
  background-color: #252525;
  padding: 0 5px;
  /* position: relative;
  width: 100%; */
}

.new-task-form input {
  background-color: #424242;
  border-width: thin;
  border-color: #79797c;
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  height: 30px;
}

.hidden {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

.dialog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dialog-tag {
  background-color: #252525;
  border-radius: 20px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-due-date-div {
  display: grid;
}

.dialog-due-date, .placeholder {
  grid-column: 1;
  grid-row: 1;
}

.dialog-due-date {
  position: absolute;
  /* display: none; */
  visibility: hidden;
  overflow: hidden;
}

.dialog-notes-label, .dialog-status {
  color: #989898;
}

.sidebar-open {
  /* position: absolute;
  top: 20px;
  left: 20px; */
  padding: 20px 0 20px 20px;
}

.category-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 600;
}

.category-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.category-section button {
  color: #949494;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-section, #new-category-button {
  padding: 5px 20px;
}

.category-section:hover, #new-category-button:hover {
  background-color: #393939;
}

.category-dialog {
  background-color: #161616;
  padding: 0;
  margin: auto;
  width: 25%;
  min-width: 300px;
  height: 25%;
  border: none;
  border-radius: 10px;
}

.new-category-form .category-name {
  font-size: xx-large;
  font-weight: 600;
}

.new-category-form button[type=submit] {
  background-color: #0483fb;
  border-radius: 20px;
  padding: 5px 0;
  width: 40%;
  min-width: 150px;
}

.new-category-form button[type=submit]:hover {
  background-color: #0074e0;
}
