* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  background-image: url('assets/sand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.task-cards {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.card {
  color: white;
  padding: 5px 10px 5px;
  margin: 5px 10px 5px;
  border-radius: 10px;
  transition: background-color 0.1s; /* just makes it a bit smoother */
}

.card:hover {
  background-color: #393939;
}

dialog {
  background-color: #161616;
  padding: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 10px;
}

dialog::backdrop {
  /* opacity: 0; */
  /* backdrop-filter: blur(1px); */
  background-color: rgba(0, 0, 0, 0.75);
}

#dialog-div {
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 270px;
  height: 100vh;
}

.task-container {
  width: 100%;
  /* height: 100vh; */
  margin: 15px;
  background-color: #161616;
}

/* stick to bottom of div */
.new-task-form {
  /* position: relative;
  width: 100%; */
}

.hidden {
  display: none;
}