.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background-color: black;
  color: white;
}

dialog {
  padding: 0;
  margin: auto;
}

#dialog-div {
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.sidebar {
  width: 270px;
}

.task-container {
  width: 100%;
}

.hidden {
  display: none;
}